{% extends 'base.html' %}

{% block head %}DASHBOARD - PID - {{ pid }} - EXPID - {{ expid }} {% endblock %}

{% block nav2 %}
<div>
    <h3>
        <nav>
            <a href="{{ url_for('run.summary', pid=pid, expid=expid) }}">Summary</a> |
            <a href="{{ url_for('run.data', pid=pid, expid=expid) }}">Data</a> |
            <a href="{{ url_for('run.hyperparam', pid=pid, expid=expid) }}">Hyper Parameters</a> |
            <a href="{{ url_for('run.trainsettings', pid=pid, expid=expid) }}">Train Settings</a> |
            <a href="{{ url_for('run.runexp', pid=pid, expid=expid) }}">RUN Experiment</a> |
            <a href="{{ url_for('run.plots', pid=pid, expid=expid) }}">Plots</a> |
            <a href="{{ url_for('run.inference', pid=pid, expid=expid) }}">Inference</a> |
            <a href="{{ url_for('run.benchmark', pid=pid, expid=expid) }}">Benchmarking</a> |
        </nav>
    </h3>
</div>
{% endblock %}

