{% extends 'run/base.html' %}

{% block script %}
<!--Select the corresponding nav item-->
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/run_exp.js') }}"></script>
<script>
        $(document).ready(function(){
          console.log("document is ready")
          //$("#summary-tab").attr
          $("#runexp-tab").addClass("active")

        // set window parameters
            window.pid = "{{ pid }}"
            window.expid = "{{ expid }}"
            window.socket = io('/runexp')

            init_sockets_ons();
            setInterval(request_current_info, 2000);

        })
</script>
{% endblock %}

{% block content %}
This is the page for train, re-train and reset experiments..!

<div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<form method="POST" action="{{ url_for('runexp.runexp', pid=pid, expid=expid) }}">
    
        <button id="btnTrain" name="runexp_btn" value="train">Train</button>
        <button id="btnRetrain" name="runexp_btn" value="re-train">Re-Train</button>
        <button id="btnReset" name="runexp_btn" value="reset">Reset</button>
</form>



<div id="Results">...</div>   
  
{% endblock %}