<div class="form-group row">
    <label class="col-4 col-form-label">New Project Name:</label>
    <input class="col-8 form-control" type="text" name="pro_name" id="input_proName" placeholder="Project Name" required> <br>
</div>

<div class="form-group row">
    <label class="col-4 col-form-label" >Project Path:</label>
    <input class="col-8 form-control" type="text" name="pro_path" id="input_proPath" placeholder="Project Path" required> <br>
</div> 

<button class="btn btn-primary" id="btn_pro_create" onclick="click_create_project()">Create Project</button>


<table class="table table-dark" id="tbl_crnt_projects"></table>