{% extends "layout.htm" %}

{% block content%}
<h1> Train Your Model</h1>

<div class="row">
    <div class="col-2"> 
        <form method="POST", action="/run_test_task">
                <input type="submit" name="submit_button" value="Do Something"> 
        </form>
        
    </div>
    <div class="col-2"> 
        <button type="button" class="btn btn-primary btn-lg">Large button</button> 
    </div>
    <div class="col-2"> 
        <form>
        <a href=# id=id_test ><button class="btn btn-primary btn-lg">Large button</button> </a> 
    </form>
    </div>


</div>
{% endblock content %}