<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <h1>Projects..!</h1>
        <a href="home" >Project 1</a>

        <div>
            {% block content %}

            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}

                <p>
                    {{ form.projectName.label }} <br>
                    {{ form.projectName(size=32) }}
                </p>

                <p>
                    {{ form.projectPath.label }} <br>
                    {{ form.projectPath(size=32) }}
                </p>

                <p>
                    {{ form.submit() }}
                </p>

            </form>

            <p>
                {% for key, value in app_dict.items() %}
                    <!-- <a href="home" onclick='gotoProject("{{ key }}", "{{ value }}")'; > {{ key }} </a>  <br>   -->
                    <a href="/home/{{ key }}" target="_blank"> {{ key }} </a> <br>
                {% endfor %}
            </p>
            {% endblock %}
        </div>
        <script> 
            function gotoProject(p_name, p_path){
                alert(p_name + ":" + p_path)
                //document.write(p_name + "-" + p_path)
            }
        </script>

    </body>
</html>