<div class="form-group row">
    <label class="col-4 col-form-label">GAN Name:</label>
    <input class="col-8 form-control" type="text" name="gan_name" id="input_ganName" placeholder="GAN Name" required> <br>
</div>

<div class="form-group row">
    <label class="col-4 col-form-label" >GAN Directory:</label>
    <input class="col-8 form-control" type="text" name="gan_dir" id="input_ganDir" placeholder="GAN Directory" required> <br>
</div>  

<div class="form-group row">
    <label class="col-4 col-form-label" >GAN File Name:</label>
    <input class="col-8 form-control" type="text" name="gan_file" id="input_ganFile" placeholder="GAN File Name (without .py)" required> <br>
</div>

<div class="form-group row">
    <label class="col-4 col-form-label" >GAN Class Name (run):</label>
    <input class="col-8 form-control" type="text" name="gan_class" id="input_ganClass" placeholder="GAN Class Name" required> <br>
</div>


<button class="btn btn-primary" id="btn_gan_add">Add</button>



<table class="table table-dark" id="tbl_gan_types"></table>