<label>GAN Name:</label>
<input type="text" name="gan_name" id="input_ganName" placeholder="GAN Name"> <br>

<label>GAN Directory:</label>
<input type="text" name="gan_dir" id="input_ganDir" placeholder="GAN Directory"> <br>


<label>GAN File Name:</label>
<input type="text" name="gan_file" id="input_ganFile" placeholder="GAN File Name (without .py)"> <br>

<label>GAN Class Name (run):</label>
<input type="text" name="gan_class" id="input_ganClass" placeholder="GAN Class Name"> <br>

<button id="btn_gan_add">Add</button>



<table class="table" id="tbl_gan_types"></table>