{% extends 'base.html' %}

{% block head %}Project Main Window{% endblock %}

{% block content %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.projectName.label }} <br>
            {{ form.projectName(size=32) }}
        </p>

        <p>
            {{ form.projectPath.label }} <br>
            {{ form.projectPath(size=32) }}
        </p>

        <p>
            {{ form.submit() }}
        </p>

    </form>

    <div>
        <h2>Projects</h2>
        {% for p in projects %}
            <p> 
                {{ p["_id"] }} - {{ p["name"] }} 
                <a href="{{ url_for('projects.delete', pid=p['_id']) }}">Delete</a>
            </p>
            
        {% endfor %}
    </div>

    
{% endblock %}